.div-container-principal{
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background: #FFF;
}

.div-conteudo-principal{
    width: 80%;
    padding: 5px;
    margin: 5px;
    align-items: center;
    text-align: center;
    display: inline-block; 
    background: rgb(233, 232, 231); 
    border: 2px double rgba(104, 112, 96, 0.767) ;
}

.div-form{
    background: rgba(104, 112, 96, 0.719);
    padding: 10px;
}

.img-logo-principal{
    margin: 4px 0;
    width: 20%;
    border-radius: 50%;
    
}

.fonte-google{
    font-family: 'Roboto','Courier New', Courier, monospace,sans-serif;
    font-size: 16px;
}

.form{
    display: inline-block;
}

.input-cidade{
    margin: 8px 0;
    text-align: center;
    display: inline-block;
}

.botao-buscar-pokemon{
    margin: auto;
    min-width: 14%;
}

#nome_do_pokemon{
    text-transform: capitalize;
    font-size: 100%;
    text-indent: 2px;
    font-weight: 900;
    display: inline;
    align-items: auto;
    width: 22%;
}

.img-pokemon{
    width: 12%;
    border-radius: 50%;
}

