.div-container-principal{
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background: #FF9;
}
.div-form{
    background: rgb(104, 112, 96);
}

.img-logo-principal{
    margin: 4px 0;
    width: 20%;
    border-radius: 50%;
    
}

.p-informativo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.form{
    display: inline;
}

.input-cidade{
    margin: 8px 0;
    width: 16%;
    text-align: center;
   

}

.input-botao-buscar-pokemon{
    margin: auto;
    margin-bottom: 8px;
    background: chocolate;
    width: 10%;
    min-width: 110px;
    font-size: 13px;
    text-align: center;
   
}



.div-principal-resultado{
    
}

